#videos{
    .videos{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 40px;
    }
    button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 40px;
        border-radius: 12px;
        background:none;
        color:black;
        border: 2px solid black;
        margin: 40px auto;
    }
}